
body{
    background-image: url("../img/book.svg");
    /* background-repeat: repeat;
    background-size: 400px; */
}

.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: lightgray;
    padding: .1em;
}

.pointer{
    cursor: pointer;
}

.bg-grey{
    background-color: lightgray;
}